*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{font-size: 3em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
h4{font-size: 1755em;}
p{font-size: 1.25em;}

button{
    font-size: 1.5em ;
    font-weight: bold;
    padding:10px 20px ;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0,5);
    box-shadow:2px 2px 10px rgba(0,0,0,0,5);
    color: azure;
    background-color: rgb(103, 227, 227);
}
button:hover{
    background-color: rgb(142, 106, 176);
}

.container{
    max-width: 1400px;
    margin: auto;
}


.resaltadorprimario{
    color: rgb(186, 70, 70);
}
.resaltador{
    color: rgb(192, 9, 9);
}

header{
    background-color: rgb(37, 39, 39);
}

header .title{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(11, 243, 243);
    font-size: 3em;
}

header .container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

header .nav{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(37, 196, 196);
    font-size: 1.25em;
}

header a:hover{
    color: rgb(142, 106, 176);
}

#PRINCIPAL{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: rgb(250, 249, 250);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Assets/portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#PRINCIPAL h3{
    color: rgb(91, 186, 244);
}
#PRINCIPAL h1{
    color: rgb(243, 239, 247);
}
#PRINCIPAL button{
    color: blueviolet;
    font-size: 2em;
}



#panel-ofertas{
    background-color: rgb(37, 39, 39);
    color: rgb(230, 237, 243);
}


#panel-ofertas .container{
    text-align: left;
    padding: 100px 0px;
}

#panel-ofertas p{
    display: none;

}

#panel-ofertas h3{
    margin-top: 0;
    font-size: 2em;
    text-align: left;
}

#panel-ofertas button{
    margin: 0;
    font-size: 1em;
}

#panel-ofertas .oferta{
    background-position: center center;
    background-size: cover;
    padding: 70px;
    margin: 15px;
    border-radius: 15px;
}

.oferta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Assets/namucuraCO.jpg");
    background-size: cover;
    background-position: center center;
}



.oferta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Assets/riveramayaMX.jpg");
    background-size: cover;
    background-position: center center;
}



.oferta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Assets/OletariverUS.png");
    background-size: cover;
    background-position: center center;
}




.oferta:nth-child(4){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("Assets/sessalinesEU.png");
    background-size: cover;
    background-position: center center;
}


footer {
    background-color: rgb(37, 39, 39);
}

footer .container{
    color: rgb(230, 237, 243);
    height: 120px;
   
    
}

footer p{
    text-align: center;
    color: blueviolet;
}
footer ul{
    text-align: right;
    color: rgb(11, 5, 16);
    list-style: none;
}



@media (min-width: 768px){
    header{
        position: fixed;
        width: 100%;

    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
     header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
     }

     #panel-ofertas .promociones{
        display: flex;
        justify-content: center;
    }
    #panel-ofertas h3{
        margin-top: 0;


    }
    #panel-ofertas .oferta{
        padding: 80px;
            
    }
}  

