
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina de registro</title>
    <link href="/static/css/Styles.css" rel="stylesheet" />
</head>
<body  id="imgf" background= "{% static 'assets/img/sobre.jpg' %}">
    <div class="contenedor">    
        <h1 class="texto"> <span class= "tit-nos">Sobre Nosotros</span></h1>
        <h2 class="texto">

            Nosotros una empresa lider en el segmento con mas de 20 años de trayectoria, donde logramos mejorar las finanzas y
            la contabilidad de nuestros clientes, para asi optimizar sus ganancias y minimizar sus perdidas, logramos una mayor
            competitividad en el mercado incluyendo en nuestras propuestas modelos de negocios y rentabilidad en los mismos.
            Actualmente nos encontramos trabajando en conjunto con grandes empresas en varios paises, brindando el mejor servicio
            de asistencia financiera y contable, logrando asi cada objetivo planteado por parte de nuestros clientes.
            Buscamos innovar, buscamos la excelencia en cada aspecto.
        </h2>
    </div>
    <div>
        <h2 class="texto">
        
        <br>
        </h2>
    </div>
    <div>
        <h2 class="texto">
        
        <br>
        </h2>
    </div>



    </h2>
    <br>
        
    <a href="{% url 'Index' %}" class="btn-back">Volver</a>
</body>
</html>