body, header, main, footer  {
    min-height: 50px;
    
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.main-buscador {
    border: 2px black solid;
    margin: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0.5rem;
    align-items: center;
    
}

.div-Ayuda{
    border-radius: 20%;
}
.main-section{
    
    width: 80%;
    margin: 5.5rem;
    
}
.div-preguntas {
    
    text-align: center;
}

.div-respuestas {
    
    text-align: left;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}


.main-aside{
    width: 30%;
    
    
}

.section-container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1.0rem;
}
.logosMediosdePago {
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-gap: 1.0rem;
    padding: 1.0rem;

}
.logosMediosdePago img {
    width: 5.0rem;
}


html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.container{
    max-width: 1400px;
    margin: auto;
}

header{
    background-color: rgb(249, 250, 250);
}

header .title{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(9, 10, 10);
    font-size: 3em;
}

header .container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

header .nav{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(113, 200, 200);
    font-size: 1.25em;
}

header a:hover{
    color: rgb(142, 106, 176);
}

footer {
    background-color: rgb(37, 39, 39);
}

footer .container{
    color: rgb(230, 237, 243);
    height: 250px;
    

   
    
}

footer p{
    text-align: center;
    color: rgb(249, 249, 248);
}
footer h5{
    text-align: center;
    color: rgb(249, 249, 248);
    font-size: 25px;
}

.img-container{
    display: flex;
    justify-content: space-between;
}

footer ul{
    text-align: center;
    color: lemonchiffon;
    list-style: none;
    text-decoration: none;
    font-size: larger;
}

.about-btn{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}
.fa-twitter{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(65, 233, 236);
    
    
}
.fa-github{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(171, 167, 167);
}
.fa-facebook-f{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(23, 23, 243);
}
.fa-whatsapp{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(20, 201, 53);
}
.fa-envelope{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(247, 248, 248);
}