*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{font-size: 3em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
h4{font-size: 1755em;}
p{font-size: 1.25em;}

button{
    font-size: 1.5em ;
    font-weight: bold;
    padding:10px 20px ;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0,5);
    box-shadow:2px 2px 10px rgba(0,0,0,0,5);
    color: azure;
    background-color: rgb(103, 227, 227);
}
button:hover{
    background-color: rgb(142, 106, 176);
}

.container{
    max-width: 1400px;
    margin: auto;
}


.resaltadorprimario{
    color: rgb(186, 70, 70);
}
.resaltador{
    color: rgb(192, 9, 9);
}

header{
    background-color: rgb(249, 250, 250);
}

header .title{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(9, 10, 10);
    font-size: 3em;
}

header .container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

header .nav{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(113, 200, 200);
    font-size: 1.25em;
}

header a:hover{
    color: rgb(142, 106, 176);
}

#PRINCIPAL{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: rgb(250, 249, 250);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/static/assets/img/portada.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#PRINCIPAL h3{
    color: rgb(242, 245, 247);
}
#PRINCIPAL h1{
    color: rgb(243, 239, 247);
}
#PRINCIPAL button{
    color: rgb(131, 181, 192);
    font-size: 2em;
}



#panel-ofertas{
    background-color: rgb(37, 39, 39);
    color: rgb(230, 237, 243);
}


#panel-ofertas .container{
    text-align: left;
    padding: 100px 0px;
}

#panel-ofertas p{
    display: none;
}
#panel-ofertas h5{
    font-size: larger;

}

#panel-ofertas h3{
    margin-top: 0;
    font-size: 2em;
    text-align: left;
}

#panel-ofertas button{
    margin: 0;
    font-size: 1em;
}

#panel-ofertas .oferta{
    background-position: center center;
    background-size: cover;
    padding: 70px;
    margin: 15px;
    border-radius: 15px;
}

.oferta:first-child{
    background-image:url("/static/assets/img/namucuraCO.jpg");
    background-size: cover;
    background-position: center center;
}



.oferta:nth-child(2){
    background-image:url("/static/assets/img/riveramayaMX.jpg");
    background-size: cover;
    background-position: center center;
}



.oferta:nth-child(3){
    background-image:url("/static/assets/img/OletariverUS.png");
    background-size: cover;
    background-position: center center;
}




.oferta:nth-child(4){
    background-image:url("/static/assets/img/sessalinesEU.jpg");
    background-size: cover;
    background-position: center center;
}


footer {
    background-color: rgb(37, 39, 39);
}

footer .container{
    color: rgb(230, 237, 243);
    height: 250px;
    

   
    
}

footer p{
    text-align: center;
    color: rgb(249, 249, 248);
}
footer h5{
    text-align: center;
    color: rgb(249, 249, 248);
    font-size: 25px;
}

.img-container{
    display: flex;
    justify-content: space-between;
}

footer ul{
    text-align: center;
    color: lemonchiffon;
    list-style: none;
    text-decoration: none;
    font-size: larger;
}

.about-btn{
    width: 80px;
    height: 80px;
    border-radius: 15px;
}
.fa-twitter{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(65, 233, 236);
    
    
}
.fa-github{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(171, 167, 167);
}
.fa-facebook-f{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(23, 23, 243);
}
.fa-whatsapp{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(20, 201, 53);
}
.fa-envelope{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: rgb(247, 248, 248);
}

.container-partner{
    background-image:url("/static/assets/img/fondopartners.jpg");
    width: 100%;
    height: 600px;
    padding: 50px;

}

.partner{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 350px;

}

.partner img{
    width: 120px;
    height: 120px;
    
}

ul{
    background-color: fff;
    list-style-type: scuare;
    display: flex;
    justify-content: space-between;
    font-size: 40px;
}

#imgf{
    background-repeat: no-repeat;
    background-size: cover;
    margin: 30px;
}
.btn-back{
    font-size: larger;
    color: aqua;
    font-size: 40px;

}
.tit-nos{
    font-size: 60px;
    color: rgb(231, 219, 115);
}

@media (min-width: 768px){
    header{
        position: fixed;
        width: 100%;

    }
    
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
     header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
     }

     #panel-ofertas .promociones{
        display: flex;
        justify-content: center;
    }
    #panel-ofertas h3{
        margin-top: 0;


    }
    #panel-ofertas .oferta{
        padding: 80px;
            
    }
}  

